body, html {
    padding: 0;
    margin: 0;
}

body {
    background-color: #E6EAEB;
    font-family: 'Roboto', sans-serif;
}

.gifItem {
    max-width: 600px;
    margin: 20px auto;
    border: 1px solid #CFCFCF;
    border-radius: 2px;
    background-color: #fff;
    -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1);
    -moz-box-shadow:    0 2px 5px 0 rgba(0, 0, 0, 0.1);
    box-shadow:         0 2px 5px 0 rgba(0, 0, 0, 0.1);
    position: relative;
}
.gifItem a.gifLink {
    padding: 10px;
    display: block;
    color: #444;
    text-decoration: none;
}
.gifItem img {
    display: block;
    margin: 0 auto;
}
.gifItem .catchPhrase {
    margin: 30px 50px 25px 50px;
    text-align: center;
    font-size: 16px;
}
.gifItem .gifItemFooter {
    background-color: #F5F8F9;
    border-top: 1px solid #ddd;
}
.gifItem .gifItemFooter > * {
    display: inline-block;
    width: 32%;
    padding: 10px;
    box-sizing: border-box;
    font-weight: 300;
    text-align: center;
}
.gifItem .gifItemFooter > * > span {
    font-weight: normal;
}
.gifItem .topRightIcon {
    width: 16px;
    height: 16px;
    display: block;
    position: absolute;
    top: 3px;
    opacity: 0.2;
    transition-duration: 200ms;
    background: url('../img/glyphicons-halflings.png');
}
.gifItem .topRightIcon:hover {
    opacity: 0.8;
}
.gifItem .reportGif {
    background-position: -142px -118px;
    right: 5px;
}
.gifItem .gifSource {
    background-position: -117px -70px;
    right: 25px;
}

/* Pagination */
.pagination {
    text-align: center;
}
.pagination a {
    margin: 0 10px;
    padding: 10px;
}

/* Menu */
ul.menu {
    list-style: none;
    text-align: center;
    margin: 20px 0 5px 0;
}
ul.menu > li {
    display: inline-block;
    text-shadow: 1px 1px 2px #fff;
    text-transform: uppercase;
    font-size: 16px;
    margin: 3px 4px;
}
ul.menu li a {
    color: #444;
    padding: 5px 13px;
    transition-duration: 200ms;
    border-radius: 2px;
}
ul.menu li a:hover {
    background-color: rgba(255, 255, 255, 0.7);
}

/* Submit a gif */
.submitGif {
    max-width: 800px;
    margin: auto;
}
.submitGif form { text-align: center; }
.submitGif input[type="text"] {
    border-radius: 2px;
    box-sizing: border-box;
    padding: 0 10px;
    min-height: 30px;
}
.submitGif .submittedBy {
    width: 47%;
    margin: 10px 2% 10px 0;
}
.submitGif .source {
    width: 47%;
    margin: 10px 0 10px 2%;
}
input#catchPhraseInput {
    width: 98%;
    display: block;
    margin: 10px auto;
    font-size: 20px;
    height: 42px;
    line-height: 42px;
    font-family: Roboto, sans-serif;
    font-weight: 300;
}
.uploadMethods { text-align: center; }
.uploadMethods > * {
    display: inline-block;
    width: 49%;
}
.uploadMethods input[type="text"] {
    width: 100%;
}
.uploadMethods > input[type="file"] {
    line-height: 24px;
}
.submitGif input[type="submit"] {
    margin-top: 50px;
}
/* Submit a gif - Giphy */
#giphyGifs {
    background: #ededed;
    background-image: -webkit-gradient(linear,0 0,0 2%,from(#dedede),to(#ededed));
    background-image: -moz-linear-gradient(top,#dedede,#ededed 2%);
    border: 1px solid #c8c8c8;
    margin-top: 30px;
    padding: 15px;
    overflow-y: auto;
    max-height: 450px;
}
ul#giphyGifsList {
    list-style: none;
    margin: 0;
    background: #f6f6f6;
    border: 1px solid #c8c8c8;
    border-radius: 2px;
}
ul#giphyGifsList > li {
    max-width: 32%;
    display: inline-block;
    padding: 10px;
    box-sizing: border-box;
}
ul#giphyGifsList > li > img {
    cursor: pointer;
    transition-duration: 300ms;
}
ul#giphyGifsList > li > img.notSelected { opacity: 0.5; }
ul#giphyGifsList > li > img.selected,
ul#giphyGifsList > li > img.notSelected:hover{ opacity: 1; }
