.gifsAdmin{
    text-align: center;
    margin:10px 0;
}
.gifItemAdmin{
    position: relative;
    display:inline-block;
    width:48%;
    height: 210px;
    vertical-align: top;
    margin:0 5px 10px 5px;
}
.gifItemAdmin img{
    height: 210px;
}
.gifValidation{
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 210px;
    color:white;
    transition-duration: 200ms;
    border-radius: 2px;
}
.gifValidation div{
    display: table;
    width: 100%;
    height: 70px;
    text-align: center;
}
.gifValidation div span{
    display: table-cell;
    vertical-align: middle;
}
.gifValidation div textarea{
    background-color: rgba(0, 0, 0, 0);
    text-align: center;
    width:95%;
    border:0;
    resize:none;
}
.gifItemAdmin:hover > .gifValidation{
    opacity: 1;
    background-color: rgba(0, 0, 0, 0.8);
}