<div style="background-color:#EEE;width:100%;padding:20px;">
	<table style="margin:auto;" cellspacing="0" cellpadding="0">
		<tr>
			<td style="padding:20px;background-color:#F8F8F8;" colspan="2">
				{{ content|raw }}
			</td>
		</tr>
	</table>
</div>
