<div id="push-notifications"
	 data-worker="{{ path('ljds_push_worker') }}"
	 data-registrationuri="{{ path('ljds_push_register') }}"
	 data-debug="{{ app.environment == 'dev' ? 'true' : 'false' }}"></div>
