<div id="push-notifications"
	 data-worker="{{ path('ljds_push_worker') }}"
	 data-subscriptionuri="{{ path('ljds_push_subscribe') }}"
	 data-unsubscriptionuri="{{ path('ljds_push_unsubscribe') }}"
	 data-debug="{{ app.environment == 'dev' ? 'true' : 'false' }}"></div>
