{% extends 'LjdsBundle:Default:parent.html.twig' %}

{% block title %}A propos des cookies - {% endblock %}
{% block content %}
	<div class="col-md-1"></div>
    <div class="col-md-10 page">
        <h2>A propos de l'utilisation des cookies</h2>
        <p>Nous utilisons des cookies pour améliorer votre expérience utilisateur : en visitant ce site web, vous acceptez
            leur utilisation.</p>
        <p>D'une part, nous utilisons Google Analytics afin d'obtenir un suivi du nombre de visiteurs. D'autre part, nous
            enregistrons une partie des informations du formulaire de soumission de gif afin que vous n'ayez pas à les
            saisir à chaque proposition.</p>
    </div>
{% endblock %}
