{% extends 'LjdsBundle:Default:parent.html.twig' %}

{% block content %}
    <div class="content submitGif">
        <h2>Règles d'utilisation du service</h2>
        <p>Lorsque vous proposez un gif, vous acceptez que les gifs répondant à un des critères suivant sera modéré et supprimé :</p>
        <ul>
            <li>Gif à caractère diffamatoire</li>
            <li>Gif pornographique explicite ou non</li>
        </ul>
    </div>
{% endblock %}
