{% extends 'LjdsBundle:Default:parent.html.twig' %}

{% block title %}Règles d'utilisation du service - {% endblock %}
{% block content %}
	<div class="col-md-10 col-md-offset-1 page">
		<h2>Règles d'utilisation du service</h2>
		<p>Lorsque vous proposez un gif, vous acceptez qu'il soit modéré et refusé s'il répond à un ou plusieurs des critères suivant :</p>
		<ul>
			<li>Gif à caractère diffamatoire</li>
			<li>Gif pornographique explicite ou non</li>
			<li>Gif violent</li>
		</ul>

		<p>La phrase accompagnant le gif (<i>caption</i>) pourra également être modifiée dans l'une des situations suivantes :</p>
		<ul>
			<li>Présence de fautes de grammaire ou d'orthographe</li>
			<li>Tournure de phrase bizarre</li>
			<li>Problèmes de compréhension de la situation</li>
		</ul>

		<p>Dans tous les cas, nous garderons votre nom ou pseudonyme associé au gif pour vous en attribuer la publication.</p>

		<p>Vous pouvez demander à ce qu'un gif publié en votre nom soit modifié (mise à jour du <i>caption</i> ou du gif)
			en nous contactant directement.</p>
	</div>
{% endblock %}
