.idea/

# Avoid pushing local ljs-config. Copy ljs-config-sample.php instead
ljs-config.php

# Do not track uploads
uploads/*
# ... but keep readme
!uploads/readme.txt
!uploads/sample.gif

# Ignore SASS map file
*.css.map
