/app/bootstrap.php.cache
/app/cache/*
!app/cache/.gitkeep
/app/config/parameters.yml
/app/config/security.yml
/app/logs/*
!app/logs/.gitkeep
/app/phpunit.xml
/bin/
/composer.phar
/vendor/
/web/bundles/

.idea
/web/uploads/
/web/gifs/
!/web/gifs/.gitkeep
/web/css/
/web/js/

src/LjdsBundle/Resources/public/css/style.css
src/LjdsBundle/Resources/public/css/style.css.map
src/LjdsBundle/Resources/public/css/style_admin.css
src/LjdsBundle/Resources/public/css/style_admin.css.map
