/app/bootstrap.php.cache
/app/cache/*
!app/cache/.gitkeep
/app/config/parameters.yml
/app/logs/*
!app/logs/.gitkeep
/app/phpunit.xml
/bin/
/composer.phar
/vendor/
/web/bundles/

# PhpStorm files
.idea

# Web files
/web/uploads/
/web/gifs/
!/web/gifs/.gitkeep
/web/css/
/web/js/

# Generated CSS files
src/LjdsBundle/Resources/public/css/style.css
src/LjdsBundle/Resources/public/css/style.css.map
src/LjdsBundle/Resources/public/css/widget.css
src/LjdsBundle/Resources/public/css/widget.css.map
.sass-cache
