.footer {
	font-weight: 300;
	@include opacity(0.6);
	@include transition-duration(200ms);

	&:hover { @include opacity(0.75); }

	h2 {
		color: #333;
		font-size: 17px;
		margin-bottom: 10px;
	}
	ul {
		padding-left: 0;
		margin-bottom: 0;
		list-style: none;

        li a {
            font-size: 13px;
        }
	}

	.copyright {
        cursor: default;
		text-align: center;
		font-size: 10px;
		margin-top: 20px;
        font-family: monospace;
		@include opacity(0.8);
        @include transition-duration(300ms);

        .first-row {
            font-size: 12px;
        }

        &:hover {
            @include opacity(1);
        }
	}

	.facebook-widget {
		margin-top: 10px;
		// Prepare vertical space so there's no "jump" while loading
		min-height: 70px;
	}
}
