header {
	background: #6F9FC1 url('../img/header_background.jpg') no-repeat top;
	@include border-radius(2px 2px 0 0);
	@include background-size(cover);
	@include box-shadow(inset 0 0 1px rgba(0, 0, 0, 0.5));

	.header-background {
		background: -moz-radial-gradient(center, ellipse cover, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 52%, rgba(0,0,0,0.15) 100%);
		background: -webkit-radial-gradient(center, ellipse cover, rgba(0,0,0,0) 0%,rgba(0,0,0,0) 52%,rgba(0,0,0,0.15) 100%);
		background: radial-gradient(ellipse at center,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 52%,rgba(0,0,0,0.15) 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#26000000',GradientType=1 );
		@include border-radius(2px 2px 0 0);
	}

	.title {
		float: left;
		cursor: default;
		padding: 17px 20px 15px;

		a.h1Link {
			display: block;

			h1 {
				color: #fff;
				font-weight: 300;
				font-size: 25px;
				margin: 0;
				text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
				@include transition-duration(150ms);

				&:hover {
					text-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
				}
			}

			&:hover, &:focus { text-decoration: none; }
		}

		h2.subtitle {
			color: #fff;
			font-size: 15px;
			margin: 5px 0 0 0;
			max-width: 265px;
			text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
		}
	}
}

/* Menu */
nav.menu {
	text-align: right;
	padding: 11px;

	a {
		display: inline-block;
		color: #eee;
		margin: 3px 4px;
		padding: 1px 13px 1px 10px;
		line-height: 27px;
		font-size: 13px;
		text-transform: uppercase;
		@include transition-duration(200ms);
		@include border-radius(2px);
		background-color: rgba(0, 0, 0, 0.15);

		&.submit {
			background-color: rgba(3, 169, 244, 1);
			text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
		}

		&:hover {
			color: #fff;
			background-color: rgba(0, 0, 0, 0.3);
			@extend .elevation-low;

			&.submit {
				background-color: rgba(3, 169, 244, 0.7);
			}
		}

		&:hover, &:focus {
			text-decoration: none;
		}

		&:active {
			background-color: rgba(0, 0, 0, 0.4);

			&.submit {
				background-color: rgba(3, 169, 244, 0.5);
			}
		}

		i {
			font-size: 15px;
			margin-right: 4px;
		}

		&.notifications-switch {
			&.disabled {
				cursor: default;
				@include opacity(0.7);

				// Remove hover
				&:hover {
					color: #eee;
					background-color: rgba(0, 0, 0, 0.15);
					@extend .elevation-none;
				}
			}
		}
	}
}

.countdown {
	display: inline-block;
	float: right;
	clear: both;
	color: #fff;
	text-align: right;
	padding-right: 10px;
	font-weight: 200;
	margin-top: 25px;

	p {
		margin-bottom: 0;
	}

	ul {
		li {
			list-style: none;
			display: inline-block;
			background-color: rgba(0, 0, 0, 0.15);
			padding: 2px 5px;
			margin: 0 3px;
			border-radius: 3px;
			min-width: 30px;
			text-align: right;
			font-size: 18px;
		}
		li.sep {
			min-width: 0;
			background-color: transparent;
			padding: 0;
			margin: 0;
		}
	}
}
