/*
 * This file contains everything that makes the website responsive.
 * It is included in style (main stylesheet)
 */

@media (max-width: 480px) {
	.header {
		a.h1Link {
			float: none;
		}
		.menu {
			float: none;
			text-align: left;
			padding-left: 15px;

			li {
				display: block;
			}
		}
		.countdown {
			margin-top: 10px;
		}
		.subTitle {
			margin-top: 0;
		}
	}

	.gifItem {
		.gifMain {
			.gifLink {
				display: block;
				margin-left: -15px;
				margin-right: -15px;

				img, video {
					min-width: 0;
					max-width: 100%;
				}
			}
		}
	}
}

@media (min-width: 480px) and (max-width: 768px) {
	.hide-mobile { display: none!important; }

	.header {
		h1 { padding: 0 10px; }

		.menu {
			margin-left: 10px;
			padding-left: 0;

			li {
				display: block;
			}
		}
	}

	.gifItem {
		.gifMain {
			img, video {
				min-width: 0;
				max-width: 100%;
			}
		}
	}
}

@media (max-width: 992px) {
	.gifItem {
		.gifInfos {
			* {
				display: inline-block;
				margin: 0 10px;
			}
			br { display: none; }
			.actionIconContainer { display: none; }
		}
	}
}
