/*
 * This file contains everything that makes the website responsive.
 * It is included in style (main stylesheet)
 */

@media (max-width: 480px) {
	.header {
		a.h1Link {
			float: none;
		}
		.menu {
			float: none;
			text-align: left;
			padding-left: 15px;

			li {
				display: block;
			}
		}
		.countdown {
			margin-top: 10px;
		}
		.subTitle {
			margin-top: 0;
		}
	}

	.gifItem {
		margin: 30px -20px;

		.likesCount-wrap { display: none; }
		.socialButtons {
			@include opacity(1);
			text-align: left;
			float: none!important;
			margin-top: 0!important;

			> * {
				margin: 5px 0;
			}
		}

		.overflow-actions {
			display: none;
		}

		img, video {
			min-width: 0;
			max-width: 100%;
		}
	}
}

@media (min-width: 480px) and (max-width: 768px) {
	.hide-mobile { display: none!important; }

	.header {
		h1 { padding: 0 10px; }

		.menu {
			margin-left: 10px;
			padding-left: 0;

			li {
				display: block;
			}
		}
	}

	.gifItem {
		.likesCount, .socialButtons { @include opacity(1); }
		.overflow-actions { display: none; }

		img, video {
			min-width: 0;
			max-width: 100%;
		}
	}
}

@media (max-width: 992px) {
	.gifItem {
		.likesCount-wrap {
			float: left;
		}
		.socialButtons {
			float: right;
			margin-top: -60px;
		}
	}
}
