// Generic UI items & styles
.button {
	&.no-elevation {
		color: #333;
		display: inline-block;
		text-transform: uppercase;
		padding: 6px 10px;
		font-size: 12px;
		font-weight: 500;
		@include border-radius(2px);
		@include transition-duration(150ms);

		&:hover {
			text-decoration: none;
			background-color: rgba(0, 0, 0, 0.1);
		}
		&:active {
			background-color: rgba(0, 0, 0, 0.15);
			@include box-shadow(inset 0 1px 2px rgba(0, 0, 0, 0.3));
		}
	}
	&.button-medium {
		padding: 3px 7px;
	}
	&.button-small {
		padding: 2px 4px;
	}
}

// Elevation levels
.elevation-middle { box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2); }
.elevation-high { box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); }
.elevation-low { box-shadow: 0 1px 4px rgba(0, 0, 0, 0.15); }

.buttons-set {
	margin: 10px 0;
	padding: 0;
	list-style: none;

	.button {
		@extend .button.no-elevation;
		padding: 3px 20px;

		i.mdi { font-size: 60px; }
		p {
			text-align: center;
			margin: 7px 0 0 0;
			line-height: 15px;
		}
	}
}

.alert {
	@include border-radius(2px);
	background-image: none;
	border: 0;

	&.alert-success {
		background-color: #9CCC65;
	}
}

// Dropdowns
.jq-dropdown {
	.jq-dropdown-menu, .jq-dropdown-panel {
		box-shadow: rgba(0, 0, 0, 0.1) 0 1px 6px, rgba(0, 0, 0, 0.2) 0 1px 4px;
		border-radius: 2px;
		border: 0;
	}
	.jq-dropdown-menu {
		li > a {
			padding: 6px 18px;
			transition-duration: 150ms;
			color: #444;

			&:hover, &.active {
				background-color: rgba(0, 0, 0, 0.07);
			}

			i {
				width: 18px;
			}
		}
	}
	.jq-dropdown-panel {
		p.title {
			font-size: 15px;
			border-bottom: 1px solid #eee;
			padding-bottom: 5px;
			color: #333;
		}
		p {
			text-align: justify;
			color: #555;
			font-size: 13px;
		}
	}
}
