/*
 * This file contains everything that makes the website responsive.
 * It is included in style (main stylesheet)
 */

/* Small devices (tablets, smartphones) */
@media (max-width: 768px) {
	.hide-mobile { display: none!important; }

	.container { margin-top: 0; }
	.header {
		.row {
			margin-left: 0;
			margin-right: 0;
		}

		h1 { padding: 0 10px; }

		.menu {
			margin-top: 0;
			margin-left: 10px;
			padding-left: 0;
		}
	}

	.gifItem {
		.gifInfos {
			* { display: inline-block; }
			br { display: none; }
		}
		.gifMain {
			img, video {
				min-width: 0;
				max-width: 100%;
			}
		}
	}
}
