.adminTabs {
    margin: 5px 10px;
}

.gifs-validation {
	textarea {
		border: 0;
		resize: none;
		width: 100%;
		line-height: 15px;
		height: 60px;
	}

	img, video {
		border-radius: 2px;
		max-width: 100%;
	}
}
