/**
 * IMPORTANT: please de not edit style.css file manually.
 *	We're using SASS to maintain styling, so your changes would be overriden.
 *	Please edit style.scss file instead, and use a sass compiler.
 *		Learn more about SASS: http://sass-lang.com/guide
 *
 *  Sass compiler arguments:  --style expanded
 */

/* SASS mixins */
@mixin border-radius($radius) {
	-webkit-border-radius: $radius;
	-moz-border-radius: $radius;
	-ms-border-radius: $radius;
	border-radius: $radius;
}
@mixin box-shadow($shadow1, $shadow2:false) {
	$params: $shadow1;
	@if $shadow2 { $params: $shadow1, $shadow2; }
	-webkit-box-shadow: $params;
	-moz-box-shadow: $params;
	-o-box-shadow: $params;
	box-shadow: $params;
}
@mixin opacity($opacity) {
	opacity: $opacity;
	$opacity-ie: $opacity * 100;
	filter: alpha(opacity=$opacity-ie); //IE8
}
@mixin box-sizing($param) {
	box-sizing: $param;
	-moz-box-sizing: $param;
	-webkit-box-sizing: $param;
}
@mixin transition($transition1, $transition2:false) {
	$params: $transition1;
	@if $transition2 { $params: $transition1, $transition2; }
	-webkit-transition: $params;
	-moz-transition: $params;
	-o-transition: $params;
	transition: $params;
}
@mixin transition-duration($duration) {
	-webkit-transition-duration: $duration;
	-moz-transition-duration: $duration;
	-o-transition-duration: $duration;
	transition-duration: $duration;
}
@mixin background-size($param) {
	-webkit-background-size: $param;
	-moz-background-size: $param;
	-o-background-size: $param;
	background-size: $param;
}

/* Define colors */
$primary-color: #FF5722;
$dark-primary-color: #E64A19;
$light-primary-color: #FFCCBC;
$accent-color: #795548;
$primary-text-color: #212121;
$secondary-text-color: #727272;
$divider-color: #B6B6B6;

.clear { clear:both; }

body, html {
	padding: 0;
	margin: 0;
	color: $primary-text-color;
}

body {
	background-color: #ebebeb;
	font-family: 'Roboto', sans-serif;
}

hr {
	margin-top: 45px;
	margin-bottom: 20px;
}

.header {
	@include border-radius(2px 2px 0 0);
	background: url('../img/header_background.jpg') no-repeat top;
	@include background-size(cover);

	> div {
		background: -moz-radial-gradient(center, ellipse cover,  rgba(0,0,0,0) 0%, rgba(0,0,0,0) 52%, rgba(0,0,0,0.15) 100%);
		background: -webkit-radial-gradient(center, ellipse cover,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 52%,rgba(0,0,0,0.15) 100%);
		background: radial-gradient(ellipse at center,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 52%,rgba(0,0,0,0.15) 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#26000000',GradientType=1 );
		@include border-radius(2px 2px 0 0);
	}

	h1 {
		font-size: 32px;
		margin: 15px 0;
	}

	a.h1Link {
		display: inline-block;

		h1 {
			color: #fff;
			font-weight: 300;
			font-size: 22px;
			padding: 0 30px;
			margin: 15px 0;
			display: inline-block;
		}

		&:hover { text-decoration: none; }
	}

	.subHeader {
		padding: 15px 30px;
		color: #fff;
		margin-top: 30px;

		h2 {
			font-size: 19px;
			font-weight: 300;
			margin: 0;
		}
	}

	.subTitle {
		padding: 15px 30px;
		color: #fff;
		margin-top: 50px;

		h2 {
			font-size: 19px;
			font-weight: 300;
			margin: 0;
			text-shadow: 0 0 7px #000;
		}
	}
}

.subHeader {
	min-height: 70px;

	.facebookPageLike {
		text-align: right;
	}
}

.container {
	.content {
		@include box-shadow(0 2px 5px 0 rgba(0, 0, 0, 0.1));
		background-color: #fff;
		margin-top: 20px;
		padding: 0 0 10px 0;
	}
}

.fullWidth{
	max-width: 100%;
}
.footer {
	font-weight: 300;
	@include opacity(0.5);
	@include transition-duration(200ms);
	margin: 10px 0;
	padding-bottom: 10px;

	&:hover { @include opacity(0.75); }

	h2 {
		color: #333;
		font-size: 17px;
	}
	ul {
		padding-left: 0;
		margin-bottom: 0;
		list-style: none;

		li {
			a {}
		}
	}
}

.gifItem {
	margin-top: 30px;
	margin-bottom: 30px;
	font-family: Roboto, sans-serif;

	.gifInfos {
		padding-right: 25px;
		@include opacity(0.2);
		transition-duration: 200ms;
	}

	.gifMain {
		img, video {
			@include border-radius(2px);
		}
		img {
			min-width: 325px;
		}
	}

	.gifLink { color: #333; }
	.gifLink:hover {
		color: #0087F7;
		text-decoration: none;
	}

	.caption {
		font-size: 18px;
		margin-bottom: 15px;
	}
	.gifInfos {
		text-align: right;
		font-weight: 300;

		> * { margin: 6px; }
	}

	.actionIconContainer {
		display: inline-block;
		margin: 0 10px;
		text-decoration: none!important;

		.actionIconText {
			@include opacity(0);
			@include transition-duration(300ms);
			font-size: 12px;
		}

		span.gifSourceIcon,
		span.reportGifIcon {
			width: 16px;
			height: 16px;
			display: inline-block;
			vertical-align: middle;
			margin-left: 3px;
			@include opacity(0.2);
			@include transition-duration(200ms);
			background: url('../img/glyphicons-halflings.png');
		}
		span.gifSourceIcon {
			background-position: -117px -72px;
		}
		span.reportGifIcon {
			background-position: -142px -120px;
		}
	}
	.actionIconContainer:hover {
		.actionIconText {
			@include opacity(1);
		}
		span.gifSourceIcon,
		span.reportGifIcon {
			@include opacity(0.8);
		}
	}

	&:hover .gifInfos {
		@include opacity(1);
	}
}

/* Pagination */
.pagination-wrap {
	text-align: center;
}

/* Menu */
ul.menu {
	list-style: none;
	text-align: right;
	margin: 10px;
	float: right;

	li {
		display: inline-block;
		margin: 3px 4px;
		line-height: 27px;

		a {
			color: #eee;
			font-weight: 300;
			text-transform: uppercase;
			padding: 5px 13px;
			@include transition-duration(200ms);
			@include border-radius(2px);
			font-size: 15px;
			background-color: rgba(0, 0, 0, 0.15);

			&.submit {
				background-color: rgba(3, 169, 244, 1);
				text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
			}
		}
		a:hover {
			color: #fff;
			background-color: rgba(0, 0, 0, 0.3);
			text-decoration: none;

			&.submit {
				background-color: rgba(3, 169, 244, 0.7);
			}
		}
	}
}

/* Submit a gif */
.submitGif {
	input[type="text"] {
		@include border-radius(2px);
		@include box-sizing(border-box);
		padding: 0 10px;
		min-height: 30px;
		border: 1px solid #ccc;
		@include box-shadow(inset 0 1px 1px rgba(0,0,0,.075));
		@include transition(border-color ease-in-out .15s, box-shadow ease-in-out .15s);
	}
	input[type="text"]:focus {
		border-color: #66afe9;
		outline: 0;
		@include box-shadow(inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6));
	}
	.submittedBy {
		width: 47%;
		margin: 10px 2% 10px 0;
	}
	.source {
		width: 47%;
		margin: 10px 0 10px 2%;
	}
	input#captionInput {
		width: 100%;
		display: block;
		margin: 10px 0;
		font-size: 20px;
		height: 42px;
		line-height: 42px;
		font-family: Roboto, sans-serif;
		font-weight: 300;
	}
	.uploadMethods {
		text-align: center;

		> * {
			display: inline-block;
			width: 49%;
		}
		input[type="text"] {
			width: 100%;
		}
		> input[type="file"] {
			line-height: 24px;
		}
	}
	#ajaxLoading {
		margin: 10px auto;
		display: block;
	}
	input[type="submit"] {
		margin: 50px auto 0 auto;
		display: block;
	}
	#gifUrl {
		width: 100%;
		font-weight: 300;
	}

	.labelsContainer {
		float: right;
		display: inline-block;
		vertical-align: middle;
		margin-top: 10px;

		.labels {
			display: inline-block;
			padding: 1px;
			font-size: 0;
			@include border-radius(2px);
			@include box-sizing(border-box);
			@include box-shadow(inset 0 1px 1px rgba(0, 0, 0, 0.2));
			background-color: #9B9B9B;

			input[type=radio] {
				display: none;
			}

			label {
				display: inline-block;
				list-style: none;
				margin: 0;
				padding: 0 10px;
				min-height: 30px;
				line-height: 30px;
				font-size: 14px;
				@include transition-duration(200ms);
				font-weight: 300;
				color: #fff;
			}

			input[type=radio]:checked + label {
				background-color: #fff;
				border-radius: 1px;
				text-shadow: none;
				font-weight: 400;
				color: inherit;
			}
		}
	}
}

/* Submit a gif - Giphy */
#giphyGifs {
	background: #ededed;
	background-image: -webkit-gradient(linear,0 0,0 2%,from(#dedede),to(#ededed));
	background-image: -moz-linear-gradient(top,#dedede,#ededed 2%);
	border: 1px solid #c8c8c8;
	margin-top: 30px;
	padding: 15px;
	overflow-y: auto;
	max-height: 550px;
	position: relative;
	text-align: left;
	@include border-radius(2px);

	.search {
		margin: -5px 0 10px 0;
		font-family: Roboto, sans-serif;
		font-weight: 300;
		width: 40%;
	}

	ul#giphyGifsList {
		list-style: none;
		margin: 0;
		padding: 0;
		background: #f6f6f6;
		border: 1px solid #c8c8c8;
		text-align: center;
		@include border-radius(2px);

		> li {
			max-width: 32%;
			display: inline-block;
			padding: 10px;
			@include box-sizing(border-box);

			> img {
				cursor: pointer;
				@include transition-duration(300ms);
				max-width: 100%;
			}
			> img.notSelected { @include opacity(0.5); }
			> img.selected,
			> img.notSelected:hover{ @include opacity(1); }
		}
	}
	.poweredByGiphy {
		float: right;
	}
}

.g-recaptcha {
	margin-top: 20px;

	> div > div {
		margin: auto;
	}
}


.topSubmitters ol li {
	font-size: 27px;
	color: #333;
	font-family: Roboto, sans-serif;
	font-weight: 300;

	span {
		font-size: 17px;
		color: #555;
		vertical-align: middle;
	}
}

.errorPage {
	div {
		display: inline-block;
		vertical-align: middle;
	}
	div.errorNumber {
		font-size: 160px;
		font-family: Helvetica, sans-serif;
		color: #555;
		margin: 0 10px;
	}
}

.gifLabel {
	font-size: 11px;
	background-color: #777;
	display: inline-block;
	padding: 2px 4px;
	color: #fff;
	@include border-radius(2px);
}

.countdown {
	display: inline-block;
	float: right;
	clear: both;
	color: #fff;
	text-align: right;
	padding-right: 10px;
	font-weight: 200;
	margin-top: 40px;

	p {
		margin-bottom: 0;
	}

	ul {
		li {
			list-style: none;
			display: inline-block;
			background-color: rgba(0, 0, 0, 0.15);
			padding: 2px 5px;
			margin: 0 3px;
			border-radius: 3px;
			min-width: 30px;
			text-align: right;
			font-size: 18px;
		}
		li.sep {
			min-width: 0;
			background-color: transparent;
			padding: 0;
			margin: 0;
		}
	}
}

/* Include style-responsive file */
@import 'style-responsive';
