/**
 * IMPORTANT: please de not edit style.css file manually.
 *	We're using SASS to maintain styling, so your changes would be overriden.
 *	Please edit style.scss file instead, and use a sass compiler.
 *		Learn more about SASS: http://sass-lang.com/guide
 *
 *  Sass compiler arguments:  --style expanded
 */

/* SASS mixins */
@mixin border-radius($radius) {
	-webkit-border-radius: $radius;
	-moz-border-radius: $radius;
	-ms-border-radius: $radius;
	border-radius: $radius;
}
@mixin box-shadow($shadow1, $shadow2:false) {
	$params: $shadow1;
	@if $shadow2 { $params: $shadow1, $shadow2; }
	-webkit-box-shadow: $params;
	-moz-box-shadow: $params;
	-o-box-shadow: $params;
	box-shadow: $params;
}
@mixin opacity($opacity) {
	opacity: $opacity;
	$opacity-ie: $opacity * 100;
	filter: alpha(opacity=$opacity-ie); //IE8
}
@mixin box-sizing($param) {
	box-sizing: $param;
	-moz-box-sizing: $param;
	-webkit-box-sizing: $param;
}
@mixin transition($transition1, $transition2:false) {
	$params: $transition1;
	@if $transition2 { $params: $transition1, $transition2; }
	-webkit-transition: $params;
	-moz-transition: $params;
	-o-transition: $params;
	transition: $params;
}
@mixin transition-duration($duration) {
	-webkit-transition-duration: $duration;
	-moz-transition-duration: $duration;
	-o-transition-duration: $duration;
	transition-duration: $duration;
}
@mixin background-size($param) {
	-webkit-background-size: $param;
	-moz-background-size: $param;
	-o-background-size: $param;
	background-size: $param;
}

/* Define colors */
$primary-color: #FF5722;
$dark-primary-color: #E64A19;
$light-primary-color: #FFCCBC;
$accent-color: #795548;
$blue: #03a9f4;
$primary-text-color: #212121;
$secondary-text-color: #727272;
$divider-color: #B6B6B6;

/* Include _part files */
@import 'ui';
@import 'header';
@import 'page-submit';

body, html {
	padding: 0;
	margin: 0;
	color: $primary-text-color;
}

body {
	background-color: #ebebeb;
	font-family: 'Roboto', sans-serif;
}

hr {
	margin-top: 45px;
	margin-bottom: 20px;
}

.container {
	.content {
		@include box-shadow(0 2px 5px 0 rgba(0, 0, 0, 0.1));
		background-color: #fff;
		margin-top: 20px;
		padding: 0 0 10px 0;
	}
}

.fullWidth{
	max-width: 100%;
}
.footer {
	font-weight: 300;
	@include opacity(0.5);
	@include transition-duration(200ms);
	margin: 10px 0;
	padding-bottom: 10px;

	&:hover { @include opacity(0.75); }

	h2 {
		color: #333;
		font-size: 17px;
	}
	ul {
		padding-left: 0;
		margin-bottom: 0;
		list-style: none;
	}
	.copyright {
		text-align: center;
		font-size: 9px;
		@include opacity(0.5);
		margin-top: 10px;
	}
}

.gifItem {
	margin-top: 30px;
	margin-bottom: 30px;
	font-family: Roboto, sans-serif;

	.gifInfos {
		padding-right: 25px;
		@include opacity(0.2);
		transition-duration: 200ms;
	}

	.gifMain {
		img, video {
			@include border-radius(2px);
			min-width: 325px;
			max-width: 100%;
		}
	}

	.gifLink { color: #333; }
	.gifLink:hover {
		color: #0087F7;
		text-decoration: none;
	}

	.caption {
		font-size: 18px;
		margin-bottom: 15px;
	}
	.gifInfos {
		text-align: right;
		font-weight: 300;

		> * { margin: 6px; }
	}

	.actionIconContainer {
		display: inline-block;
		margin: 0 10px;
		text-decoration: none!important;

		.actionIconText {
			@include opacity(0);
			@include transition-duration(300ms);
			font-size: 12px;
		}
		i {
			font-size: 13px;
			width: 14px;
			text-align: center;
			font-weight: bold;
		}
	}
	.actionIconContainer:hover {
		.actionIconText {
			@include opacity(1);
		}
		span.gifSourceIcon,
		span.reportGifIcon {
			@include opacity(0.8);
		}
	}

	&:hover .gifInfos {
		@include opacity(1);
	}
}

/* Pagination */
.pagination-wrap {
	text-align: center;
}

.topSubmitters ol li {
	font-size: 27px;
	color: #333;
	font-family: Roboto, sans-serif;
	font-weight: 300;

	span {
		font-size: 17px;
		color: #555;
		vertical-align: middle;
	}
}

.errorPage {
	div {
		display: inline-block;
		vertical-align: middle;
	}
	div.errorNumber {
		font-size: 160px;
		font-family: Helvetica, sans-serif;
		color: #555;
		margin: 0 10px;
	}
}

.gifLabel {
	font-size: 11px;
	background-color: #777;
	display: inline-block;
	padding: 2px 4px;
	color: #fff;
	@include border-radius(2px);
}

.page p {
	font-weight: 300;
}

#cookie-bar {
	background-color: #111111;
	background-color: rgba(0, 0, 0, 0.5);
	height: auto;
	line-height: 24px;
	color: #eeeeee;
	text-align: center;
	padding: 3px 0;
	z-index: 1;
	font-weight: 300;
	&.fixed {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		&.bottom {
			bottom: 0;
			top: auto;
		}
	}
	p {margin: 0; padding: 0;}
	a {color: #ffffff; display: inline-block; border-radius: 3px; text-decoration: none; padding: 0 6px; margin-left: 8px;}
	.cb-enable {
		background: #007700;
		&:hover {background: #009900;}
	}
	.cb-disable {
		background: #990000;
		&:hover {background: #bb0000;}
	}
	.cb-policy {
		background: #444;
		&:hover {background: #555;}
	}
}

/* Include style-responsive file */
@import 'style-responsive';
