/**
 * Widgets-specific CSS
 */

// Import mixins
@import 'mixins';
// Import vars
@import 'vars';

// Import parts
@import 'ui';
@import 'gif';

body {
	background-color: transparent;
}

.gifItem {
	margin: 6px auto;
	padding: 5px 10px;
	max-width: 800px;
	background-color: #fff;
	@extend .elevation-medium;

	.overflow-actions {
		display: none;
	}

	&.no-card {
		margin: auto;
		background-color: transparent;
		@extend .elevation-none;
	}
}
