# This file is a "template" of what your parameters.yml file should look like
# Set parameters here that may be different on each deployment target of the app, e.g. development, staging, production.
# http://symfony.com/doc/current/best_practices/configuration.html#infrastructure-related-configuration
parameters:
    database_host:     127.0.0.1
    database_port:     ~
    database_name:     symfony
    database_user:     root
    database_password: ~
    # You should uncomment this if you want use pdo_sqlite
    # database_path: "%kernel.root_dir%/data.db3"

    mailer_transport:  smtp
    mailer_host:       127.0.0.1
    mailer_user:       ~
    mailer_password:   ~

    # A secret key that's used to generate certain security-related tokens
    secret:            ThisTokenIsNotSoSecretChangeIt

    # Custom parameters
    enable_facebook_autopost: false
    facebook_app_id: null
    facebook_app_secret: null

    giphy_api_key: dc6zaTOxFJmzC # Development giphy api key
    giphy_gifs_limit: 48

    gifs_per_page: 5
    admin_api_key: null

    analytics_tracking_code: null

    facebook_autopost: false
    facebook_app_id: null
    facebook_app_secret: null
    facebook_access_token: null

    twitter_autopost: false
    twitter_consumer_key: null
    twitter_consumer_secret: null
    twitter_access_token: null
    twitter_access_token_secret: null

twig:
    globals:
        analytics_tracking_code: %analytics_tracking_code%
