# This file is a "template" of what your parameters.yml file should look like
# Set parameters here that may be different on each deployment target of the app, e.g. development, staging, production.
# http://symfony.com/doc/current/best_practices/configuration.html#infrastructure-related-configuration
parameters:
    database_host:     127.0.0.1
    database_port:     ~
    database_name:     symfony
    database_user:     root
    database_password: ~
    # You should uncomment this if you want use pdo_sqlite
    # database_path: "%kernel.root_dir%/data.db3"

    mailer_transport:  smtp
    mailer_host:       127.0.0.1
    mailer_port:       ~
    mailer_user:       ~
    mailer_password:   ~
    mailer_encryption: ~
    mailer_sender_email: ~

    # A secret key that's used to generate certain security-related tokens
    secret:            ThisTokenIsNotSoSecretChangeIt

    # Custom parameters
    enable_facebook_autopost: false
    facebook_app_id: null
    facebook_app_secret: null

    giphy_api_key: dc6zaTOxFJmzC # Development giphy api key
    giphy_gifs_limit: 48

    gifs_per_page: 5
    admin_api_key: null

    analytics_tracking_code: null
    piwik_u: null

    facebook_autopost: false
    facebook_app_id: null
    facebook_app_secret: null
    facebook_access_token: null

    twitter_autopost: false
    twitter_consumer_key: null
    twitter_consumer_secret: null
    twitter_access_token: null
    twitter_access_token_secret: null

    recaptcha_sitekey: null
    recaptcha_secretkey: null

    # This will be used on production and is only used for commands.
    # More info here: http://symfony.com/doc/current/cookbook/console/sending_emails.html#configuring-the-request-context-globally
    # localhost: localhost ; http ; /
    router.request_context.host: joies-de-supinfo.fr
    router.request_context.scheme: http
    router.request_context.base_url: /

    domains: [joies-de-supinfo.s-quent.in, www.joies-de-supinfo.fr]

    # Push notifications
    push_public_api_key: null
