{% extends 'LjdsBundle:Default:parent.html.twig' %}

{% block content %}
    <div class="content errorPage">
        <div class="errorNumber">404</div>
        <div>
            <p>La ressource que vous cherchez n'a pas pu être trouvée...</p>
            <br />
            <p><a href="{{ path('index') }}">< Retour</a></p>
        </div>
    </div>
{% endblock %}
