{% extends 'LjdsBundle:Default:parent.html.twig' %}

{% block content %}
	<div class="col-md-1"></div>
	<div class="col-md-10">
		{% include 'LjdsBundle:Gifs:gif.html.twig' with {'gif': gif} %}
	</div>

	{% include 'LjdsBundle:Default:facebookSdk.html.twig' %}
{% endblock %}
