.adminTabs {
	text-align: center;
	margin: 15px 0;

	a {
		@include opacity(0.5);
		@include transition-duration(150ms);

		&:hover {
			@include opacity(0.6);
		}
		&.active {
			@include opacity(1);
		}
	}
}

.gifs-validation {
	textarea {
		border: 0;
		resize: none;
		width: 100%;
		line-height: 15px;
		height: 60px;
	}

	img, video {
		border-radius: 2px;
		max-width: 100%;
	}

	.no-gif {
		margin: 60px 0;
		text-align: center;
		color: #888;
		font-size: 22px;

		i.mdi {
			font-size: 60px;
		}
	}
}
